.vbox {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 2);
}

.login-button {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 16 8 16;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.1, 0, 1);
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.text-field, .password-field {
    -fx-pref-width: 200;
    -fx-padding: 6;
    -fx-background-radius: 4;
}
